#featOverlay{
    background-color: rgba(0, 0, 0, .75);
    color:#FFF;
    top: 50%;
    transform: translateY(-50%)!important;
    right: 0;
    position: absolute;
    overflow: hidden;
    padding: 1rem!important;
    margin-right: 15px;
}

#langlink{
    color: #075290;
    text-decoration:underline;
    background-color: transparent;
}

.display-5{
    font-size: 2.5rem;
    font-weight: 450;
    line-height: 1.1;
}

.navbar{
    background-color: #005eaa;
    border-bottom: 3px solid #88c3ea;
    height: 68px;
}

#navtext{
    color:#FFF;
}

#featureButton{
    background-color: #005eaa;
    border-color: #005eaa;
    color: #FFF;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}


.card-img, .card-img-top{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card-img, .card-img-top, .card-img-bottom{
    flex-shrink: 0;
    width:100%;
}
.p-0{
    padding: 0!important;
}

.jumbotron .jumbotron-overlay.overlay-middle-right{
    top: 50%;
    transform: translateY(-50%)!important;
    right: 0;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.bg-blue-q{
    color:#000;
    background-color: #edf9ff;
}

.bt-blue-q{
    color: #000;
}

.bt-5{
    border-top: solid 5px!important;
}

.bt-purple-p{
    border-top-color: #712177!important;
}

.bt-cyan-s{
    border-top-color: #65b0bd!important;
}

.bt-blue-p{
    border-top-color: #005eaa!important;
}

.bt-green-s{
    border-top-color: #84bc49!important;
}

.bt-0{
    border-top: none!important;
}

#outbreakCard, .bl-green-s{
    border-left-color: #84bc49!important;
}

#newsCard, .bl-cyan-s{
    border-left-color: #65b0bd!important;
}

.bl-5{
    border-left: solid 5px!important;
}

#moreOutbreaks{
    background-color: #4b830d!important;
    border-color: #4b830d;
    color: #FFF;
}

#moreNews{
    background-color: #007b91!important;
    border-color: #007b91!important;
    color: #FFF;
}

body, html{
    border-top: 5px solid #bdbdbd!important;
    background-color: #f5f5f5;
}

body{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

.image-list li{
    padding:1rem 0;
    overflow: auto;
    border-bottom: 1px solid #f0f0f0;
}

.image-list li:last-child{
    border-bottom: none;
}
.block-list li{
    padding: .7rem 0;
    border-bottom: 1px dashed #e0e0e0;
    margin-bottom: 1px;
}

.calendar-list{
    padding: 0.7rem 0;
    border-bottom: 1px dashed #e0e0e0;
}

footer .footer-wrapper{
    font-size: 13px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
    background-color: #333333;
}

a{
    color: inherit;
}

.col-md-3, #newsCard, #outbreakCard{
    display: flex;
    flex-wrap: wrap;
}

